@import "tailwindcss";

@theme {
  --color-primary: #7CB3E9;
  --color-secondary: #2563EB;
  --color-third: #14B8A6;
  --color-accent: #14B8A6;
  --color-background: #FAFCFF;
  --color-text: #0F172A;
  --color-navbar: #FAFCFF;
  --hovercolor: #DBEAFE;
}
